<html>
  <head>
    <title>Niki</title>
  </head>
  <body>
    <form method='POST' action='/new-page'>
      <h1>Add a page to niki</h1>

      <label for='title'>Title</label>
      <input type='text' name='title'></input>

      <label for='content'>Content</label>
      <textarea name='content'></textarea>

      <input type='submit' value='Add page' />
    </form>
  </body>
</html>
