<html>
  <head>
    <title>Niki</title>
     <link rel="stylesheet" type="text/css" href="/stylesheets/niki.css" />
  </head>
  <body>
    <section id="content">
      <% if @error_message %>
        <section id="errors">
          <p><%= @error_message %></p>
        </section>
      <% end %>

      <h1>Create a new niki</h1>
      <form method="POST" action="/new-page" class="page">
        <label for="title">Title</label>
        <input type="text" name="title"></input>

        <label for="content">Content</label>
        <textarea name="content"><%= @content %></textarea>

        <section class="actions">
          <a href="/pages">Back to page list</a>
          <input type="submit" value="Create it" />
        </section>
     </form>
    </section>
  </body>
</html>
